<style>
    .img_settings{
        width: 60px;
        height: 60px;
    }
</style>
<div class="container">
    <form action="/all_team_list" method="post">
    {{#each teams}}
    <div class="card card-outline-info mb-3">
    <div class="input-group">
        <img src="/images/{{this.photo_url}}" alt="" class="img_settings">
        <span class="input-group-addon">
            <input class="input_list" type="checkbox" aria-label="Checkbox for following text input" name="selected_name" value="{{this.name}}">
        </span>
        <input type="text" class="form-control input_settings" aria-label="Text input with checkbox"
            value="name:{{this.name}},age:{{this.age}},home:{{this.home}},strike:{{this.strike}},defence:{{this.defence}},nationality:{{this.nationality}}"
        >
        <a href="/home/{{this.name}}"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
    </div>
    </div>
    {{/each}}
    <br />
    <button  class="btn btn-sm btn-danger" type="submit" name="action" value="delete">delete</button>
    <button type="button" class="btn btn-sm btn-info" id="cancel_btn">cancel</button>
    <button type="button" class="btn btn-sm btn-primary" id="select_all_btn">select_all</button>
    </form>
</div>
<br/>
<button class="btn btn-sm btn-danger" id="back_btn" onclick="window.location.href= '/home'">
    <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back</button>

<script>
    $("#cancel_btn").click(function(){
        $(".input_list").prop("checked",false);
    });
    $("#select_all_btn").click(function(){
        $(".input_list").prop("checked",true);
    });
</script>