<style>
    #submit_btn_settings{
        position: relative;
        margin-left: 690px;
    }
    #reset_btn_settings{
        position: relative;
        margin-left: 10px;
    }
    .img_settings_1{
        width:180px;
        height: 180px;
        margin-left:20px;
        margin-top: 10px;
    }
    .a_group_settings{
        position: absolute;
        margin-top: 100px;
        margin-left: -40px;
    }
    .card_settings_1{
        margin-left: 0px;
        padding-left: -10px;
        margin-bottom: 10px;
        margin-top:12px;
        width: 430px;
    }
    .name_settings_1{
        position: relative;
        margin-top: 20px;
        margin-left:-130px;
    }
    .alert_i{
        display:none;
        margin-left: 135px;
        color: red;
    }
    .card_settings_2{
        width:220px;
    }
    .img_settings_2{
        width:80px;
        height: 80px;
        margin-left:10px;
        margin-top: 5px;
    }
    .name_settings_2{
        position: relative;
        margin-top: 10px;
        margin-left:-100px;
    }
    .card_block_settings_2{
        width:110%;
        margin-left: -5%;
    }
    .a_group_settings_2{
        position: relative;
        font-size: 10%;
        margin-left: -60px;
        margin-top:40px;
    }
    .card_settings_3{
        
    }
    .img_settings_3{
        width:200px;
        height: 200px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .name_settings_3{
        position: relative;
        margin-top: 50px;
        margin-left: -500px;
        font-size: 150%;
    }
    .a_group_settings_3{
        position: relative;
        margin-top: 120px;
        margin-left: 120px;
    }
    .zoom_input_settings{
        position: relative;
        margin-left: 20px;
        color: #2E64FE;
    }
    .filter_angular_settings{
        color:#2E64FE;
    }
    .update_btn_settings{
        position: relative;
        margin-left:40px;
    }
</style>
<div ng-app="myApp">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <button class="btn btn-info btn-sm" name="zoom_in" id="zoom_in">
                    <i class="fa fa-search-plus" aria-hidden="true"></i> Zoom in
            </button>&nbsp&nbsp
            <button class="btn btn-info btn-sm" name="zoom_out" id="zoom_out">
                    <i class="fa fa-search-minus" aria-hidden="true"></i> Zoom out
            </button>&nbsp&nbsp
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <form action="/home" method="post" class="form-inline">
                <div class="input-group">
                    <input id="search" type="search" name="key_word" class="form-control form-control-md" ng-model="zoom_input" size="40">
                    <button type="submit" value="go" name="action"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <select id="search_type_select" name="search_type_select" class="custom-select">
                    <option>team</option>
                    <option>player</option>
                </select>
                <h1 class="zoom_input_settings" id="angular_blur_1">//zoom_input//</h1>
                <h1 class="zoom_input_settings" id="angular_blur_2">//zoom_input_2//</h1>
                <h1 class="zoom_input_settings" id="angular_blur_3">//zoom_input_3//</h1>
                <h1 class="zoom_input_settings" id="angular_blur_4">//zoom_input_4//</h1>
                <h1 class="zoom_input_settings" id="angular_blur_5">//zoom_input_5//</h1>
                <h1 class="zoom_input_settings" id="angular_blur_6">//zoom_input_6//</h1>
                <h1 class="zoom_input_settings" id="angular_blur_7">//zoom_input_7//</h1>
            </form>          
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            sort: <i class="fa fa-sort" aria-hidden="true"></i>
            <form method="post" action="/home">
                <div class="btn-group-vertical btn-group btn-group-md">
                    <input type="submit" value="by_age" class="btn" name="action">
                    <input type="submit" value="by_defence" class="btn" name="action">
                    <input type="submit" value="by_strike" class="btn" name="action">
                    <input type="submit" value="show_all" class="btn" name="action">
                </div>
            </form><br />
            select: <i class="fa fa-sort" aria-hidden="true"></i>
            <form action="/home" method="post">
                <div class="btn-group-vertical btn-group btn-group-md">
                    <input type="submit" value="England" class="btn" name="action">
                    <input type="submit" value="Italia" class="btn" name="action">
                    <input type="submit" value="Germany" class="btn" name="action">
                    <input type="submit" value="Spain" class="btn" name="action">
                    <input type="submit" value="Others" class="btn" name="action">
                </div>
            </form><br/>

            <div class="btn-group-vertical btn-group btn-group-md">
                <span style="margin-left: 0px;"class="row">filter:<i class="fa fa-filter" aria-hidden="true"></i></span><br />
                <button class="btn btn-md" type="button" data-toggle="collapse" data-target="#collapseExample_1" aria-expanded="false" aria-controls="collapseExample">
                    strike
                </button>
                <div class="collapse" id="collapseExample_1">
                    <form action="/home" method="post">
                    <div class="card card-block" style="width: 160px;">
                        from:<input type="number" name="filter_strike_low" ng-model="ng_strike_from">
                        <h3 class="filter_angular_settings">//ng_strike_from//</h3>
                        to:<input type="number" name="filter_strike_high" ng-model="ng_strike_to">
                        <h3 class="filter_angular_settings">//ng_strike_to//</h3><hr />
                        <button type="submit" class="btn btn-sm btn-success filter_btn_settings" name="action" value="filter_strike">go</button>
                        <button class="btn btn-sm btn-danger filter_btn_settings" type="button" id="reset_btn_1">reset</button>
                    </div>
                    </form>
                </div>
                <button class="btn btn-md" type="button" data-toggle="collapse" data-target="#collapseExample_2" aria-expanded="false" aria-controls="collapseExample">
                    age
                </button>
                <div class="collapse" id="collapseExample_2">
                    <form action="/home" method="post">
                    <div class="card card-block" style="width: 160px;">
                        from:<input type="number" name="filter_age_low" ng-model="ng_age_from">
                        <h3 class="filter_angular_settings">//ng_age_from//</h3>
                        to:<input type="number" name="filter_age_high" ng-model="ng_age_to">
                        <h3 class="filter_angular_settings">//ng_age_to//</h3><hr />
                        <button type="submit" class="btn btn-sm btn-success" name="action" value="filter_age">go</button>
                        <button class="btn btn-sm btn-danger filter_btn_settings" type="button" id="reset_btn_2">reset</button>
                    </div>
                    </form>
                </div>
                <button class="btn btn-md" type="button" data-toggle="collapse" data-target="#collapseExample_3" aria-expanded="false" aria-controls="collapseExample">
                    defence
                </button>
                <div class="collapse" id="collapseExample_3">
                    <form action="/home" method="post">
                    <div class="card card-block" style="width: 160px;">
                        from:<input type="number" name="filter_defence_low" ng-model="ng_defence_from">
                        <h3 class="filter_angular_settings">//ng_defence_from//</h3>
                        to:<input type="number" name="filter_defence_high" ng-model="ng_defence_to">
                        <h3 class="filter_angular_settings">//ng_defence_to//</h3><hr />
                        <button type="submit" class="btn btn-sm btn-success" name="action" value="filter_defence">go</button>
                        <button class="btn btn-sm btn-danger filter_btn_settings" type="button" id="reset_btn_3">reset</button>
                    </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="card card-outline-primary">
            <div class="container well" style="margin-top: 10px;margin-left: -20px;">
            <form action="/home" method="post">
                <div class="form-group form-inline">
                    <label for="1" class=" col-lg-2 col-form-label col-form-label-md">name:</label>
                    <input id="1" type="text" name="name_form" class="form-control form-control-sm col-lg-9" ng-model="zoom_input_2">
                    <span class="success_i" style="display:none"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></span>
                    <span class="alert_i" id="11"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        name can not be null!
                    </span>
                </div>
                <div class="form-group form-inline">
                    <label for="2" class=" col-lg-2 col-form-label col-form-label-md">age:</label>
                    <input id="2" type="number" name="age_form" class="form-control form-control-sm col-lg-9" ng-model="zoom_input_3">
                    <span class="success_i" style="display:none"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></span>
                    <span class="alert_i" id="11"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        age can not be null!
                    </span>
                </div>
                <div class="form-group form-inline">
                    <label for="3" class=" col-lg-2 col-form-label col-form-label-md">home:</label>
                    <input id="3" type="text" name="home_form" class="form-control form-control-sm col-lg-9" ng-model="zoom_input_4">
                    <span class="success_i" style="display:none"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></span>
                    <span class="alert_i" id="11"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        home can not be null!
                    </span>
                </div>
                <div class="form-group form-inline">
                    <label for="4" class=" col-lg-2 col-form-label col-form-label-md">strike:</label>
                    <input id="4" type="number" name="strike_form" class="form-control form-control-sm col-lg-9" ng-model="zoom_input_5">
                    <span class="success_i" style="display:none"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></span>
                    <span class="alert_i" id="11"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        strike can not be null!
                    </span>
                </div>
                <div class="form-group form-inline">
                    <label for="5" class=" col-lg-2 col-form-label col-form-label-md">defence:</label>
                    <input id="5" type="number" name="defence_form" class="form-control form-control-sm col-lg-9" ng-model="zoom_input_6">
                    <span class="success_i" style="display:none"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></span>
                    <span class="alert_i" id="11"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        defence can not be null!
                    </span>
                </div>
                <div class="form-group form-inline">
                    <label for="6" class=" col-lg-2 col-form-label col-form-label-md">nationality:</label>
                    <input id="6" type="text" name="nationality_form" class="form-control form-control-sm col-lg-9" ng-model="zoom_input_7">
                    <span class="success_i" style="display:none"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></span>
                    <span class="alert_i" id="11"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        nationality can not be null!
                    </span>
                </div>
                <div class="row">
                    <div class="input-group" style="margin-left: 70px;width: 250px;">
                        <span class="input-group-btn" style="width:200px;">
                            <button id="img_btn" class="btn btn-info btn-sm btn-file">
                                Browse <input type="file" id="imgInp">
                            </button>
                        </span>
                        <input type="text" class="form-control" readonly id="file_name_input">
                        <input type="hidden" name="file_url_needToBeSent" id="file_url_needToBeSent">
                    </div>
                    <div class="row" style="margin-top: -25px;margin-bottom: 10px">
                        <button type="submit" class="btn btn-success btn-sm" value="submit" name="action" id="submit_btn_settings">
                            <i class="fa fa-check" aria-hidden="true"></i>submit</button>
                        <button type="button" class="btn btn-primary btn-sm" value="reset"  id="reset_btn_settings">
                            <i class="fa fa-undo" aria-hidden="true"></i> reset</button>
                    </div>
                </div>
                <div class="container-fluid" id="img_div" style="display: none;"> 
                <br />
                    <img id='img-upload'/>
                </div>
            </form>
            </div>
            </div>
    <hr />

<!--2_items_1_row-->

<div class="row">  
{{#each teams}}
<div class="col-lg-6 col-md-6 2_items_1_row" style="display: none;">
    <div class="card card_settings_1 card-outline-info mb-3" style="background-color: #CEECF5;">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <img class="card-img-top img_settings_1" src="/images/{{this.photo_url}}" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h5 class="name_settings_1 text-center">{{this.name}}</h5>
            <span class="row a_group_settings">
            <a href="home/{{this.name}}"><i class="fa fa-pencil" aria-hidden="true"></i>edit</a>&nbsp&nbsp
            <a href="/home/{{this.name}}/playerList"><i class="fa fa-list" aria-hidden="true"></i> playerList</a>
            <form action="/home" method="post">
                <input type="hidden" name="update_team_value" value="{{this.name}}">
                    <button class="btn btn-link update_btn_settings" type="submit" name="action" value="update_team" role="link">
                        <i class="fa fa-refresh fa-spin fa-fw"></i> update</button>
            </form>
            </span>
        </div>
    </div>
    <div class="card-block">
        <ul class="list-group">
            <li class="list-group-item"><b>name:&nbsp&nbsp</b>{{this.name}}</li>
            <li class="list-group-item"><b>age:&nbsp&nbsp</b>{{this.age}}</li>
            <li class="list-group-item"><b>home:&nbsp&nbsp</b>{{this.home}}</li>
            <li class="list-group-item"><b>strike:&nbsp&nbsp</b>{{this.strike}}</li>
            <li class="list-group-item"><b>defence:&nbsp&nbsp</b>{{this.defence}}</li>
            <li class="list-group-item"><b>nationality:&nbsp&nbsp</b>{{this.nationality}}</li>
            <!--<li class="list-group-item" >photo_url:{{this.photo_url}}</li>-->
        </ul>
    </div>
    </div>
</div>
{{/each}}
</div>

<!--4_items_1_row-->

<div class="row">
{{#each teams}}
<div class="col-lg-3 col-md-3 4_items_1_row" style="display: none ;background-color: #CEECF5;">
    <div class="card card_settings_2">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <img class="card-img-top img_settings_2" src="/images/{{this.photo_url}}" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h6 class="text-center name_settings_2">{{this.name}}</h6>
            <span class="row a_group_settings_2">
            <a href="home/{{this.name}}"><i class="fa fa-pencil" aria-hidden="true"></i>edit</a>&nbsp&nbsp
            <a href="/home/{{this.name}}/playerList"><i class="fa fa-list" aria-hidden="true"></i> playerList</a>
            </span>
        </div>
    </div>
    <div class="card-block card_block_settings_2">
        <ul class="list-group">
            <li class="list-group-item">name:{{this.name}}</li>
            <li class="list-group-item">age:{{this.age}}</li>
            <li class="list-group-item">home:{{this.home}}</li>
            <li class="list-group-item">strike:{{this.strike}}</li>
            <li class="list-group-item">defence:{{this.defence}}</li>
            <li class="list-group-item">nationality:{{this.nationality}}</li>
        </ul>
    </div>
    </div>
</div>
{{/each}}
</div>

<!--1_item_1_row-->

<div class="row">
{{#each teams}}
<div class="col-lg-12 col-md-12 1_item_1_row" style="display: none ;background-color: #CEECF5;">
    <div class="card card_settings_3">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <img class="card-img-top img_settings_3" src="/images/{{this.photo_url}}" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h6 class="text-center name_settings_3">{{this.name}}</h6>
            <span class="row a_group_settings_3">
            <a href="home/{{this.name}}"><i class="fa fa-pencil" aria-hidden="true"></i>edit</a>&nbsp&nbsp
            <a href="/home/{{this.name}}/playerList"><i class="fa fa-list" aria-hidden="true"></i> playerList</a>
            </span>
        </div>
    </div>
    <div class="card-block card_block_settings_3">
        <ul class="list-group">
            <li class="list-group-item">name:{{this.name}}</li>
            <li class="list-group-item">age:{{this.age}}</li>
            <li class="list-group-item">home:{{this.home}}</li>
            <li class="list-group-item">strike:{{this.strike}}</li>
            <li class="list-group-item">defence:{{this.defence}}</li>
            <li class="list-group-item">nationality:{{this.nationality}}</li>
        </ul>
    </div>
    </div>
</div>
{{/each}}
</div>

{{#each players}}
<table>
    <img src="/images/{{this.photo_url}}" alt="">
    {{this.name}}<a href="home/{{this.name}}/editPage/{{this.team}}">Edit</a>
    <tr>
        <td>name:{{this.name}}</td>
        <td>height:{{this.height}}</td>
        <td>weight:{{this.weight}}</td>
        <td>defence:{{this.defence}}</td>
        <td>strike:{{this.strike}}</td>
        <td>nationality:{{this.nationality}}</td>
        <td>team:{{this.team}}</td>
        <td>age:{{this.age}}</td>
    </tr>
</table>
{{/each}}

        </div>
    </div>
</div>
</div>
<script>
    $("#zoom_out").click(function(){
        $(".4_items_1_row").show();
        $(".2_items_1_row").hide();
        $(".1_item_1_row").hide();
    });
    $("#zoom_in").click(function(){
        $(".4_items_1_row").hide();
        $(".2_items_1_row").hide();
        $(".1_item_1_row").show();
    });

    $("#reset_btn_settings").click(function(){
        $("#1").val("");
        $("#2").val("");
        $("#3").val("");
        $("#4").val("");
        $("#5").val("");
        $("#6").val("");
        $(".success_i").hide();
        $(".alert_i").hide();
    });

    $("#img_btn").click(function(){
        console.log("img_btn is clicked!");
        $("#img_div").show();
    });
    $("#img_btn").blur(function(){
        $("#img_div").hide();
    });

    $(document).ready( function() {
        
        $(".4_items_1_row").hide();
        $(".2_items_1_row").show();
        $(".1_item_1_row").hide();

        $("#1").focus();
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
                console.log("file_name_input  "+$("#file_name_input").val());
                    console.log("imgInp  "+$("#imgInp").val());
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
            console.log("file_name_input  "+$("#file_name_input").val());//相对路径！
            var zcc = $("#imgInp").val();
            zcc = zcc.replace(/\\/g, '/').replace(/.*\//, '');

            var url_file = $("#file_name_input").val();
            // console.log(typeof(zcc));//string
            $("#file_url_needToBeSent").val(zcc);
            
            console.log("zcc is: "+zcc);
            console.log("now we have:"+$("#file_url_needToBeSent").val());
            console.log("imgInp  "+$("#imgInp").val());//绝对路径！
		}); 	
	});

    //validate input!
    $(".form-control-sm").blur(function(){
        if($(this).val() == ""){
            $(this).siblings("span.alert_i").show();
            //$("#11").show();
        }else{
            $(this).siblings("span.success_i").show();
        }
    });
    $(".form-control-sm").focus(function(){
        if($(this).val() != null){
            $(this).siblings("span.alert_i").hide();
        }
    });

    //angular script
    var myApp = angular.module('myApp', []);
    myApp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('//');
        $interpolateProvider.endSymbol('//');
    });

    $("#search").blur(function(){
       $("#angular_blur_1").html(""); 
    });
    $("#1").blur(function(){
        $("#angular_blur_2").html("");
    });
    $("#2").blur(function(){
        $("#angular_blur_3").html("");
    });
    $("#3").blur(function(){
        $("#angular_blur_4").html("");
    });
    $("#4").blur(function(){
        $("#angular_blur_5").html("");
    });
    $("#5").blur(function(){
        $("#angular_blur_6").html("");
    });
    $("#6").blur(function(){
        $("#angular_blur_7").html("");
    });

    $("#reset_btn_1").click(function(){
        $(this).siblings("input").val("");
        $(this).siblings("h3").html("");
    });
    $("#reset_btn_2").click(function(){
        $(this).siblings("input").val("");
        $(this).siblings("h3").html("");
    });
    $("#reset_btn_3").click(function(){
        $(this).siblings("input").val("");
        $(this).siblings("h3").html("");
    });
</script>
